*{
    box-sizing: border-box;
}
body {
    flex-direction: column;
    color: rgb(36, 112, 105);
    background-color: rgb(193, 238, 223);
}

body,.display-letter, .alphabet,.keyboard-letters {
    display: flex;
    align-items: center;
}
.titre,.letter-displayed{
    text-align: center;
}

.titre{
    font-size: 6em;
    font-family: 'Bungee', cursive;
}

.letter-displayed,.display-letter,.keyboard-letters{
    border: 2px solid rgb(36, 112, 105);
}

.display-letter,.alphabet{
    height: 40vh;
    width: 120vh;
}
.display-letter{
    border-radius: 10%;
    margin-top: 4vh;
    justify-items: center;
}
.display-letter, .alphabet,.letter-displayed,.keyboard-letters{
    border-radius: 10%;
}

.letter-displayed{
    font-size: 15em;
    width: 270px;
    height: 270px;
    margin-left: 10%;
}

.letter-displayed,.visual-morse-displayed{
    margin-left: 10%;
}
.letter-displayed,.keyboard-letters{
    background-color: rgb(183, 230, 225);
}

.visual-morse-displayed {
    font-size: 12em;
}

.alphabet{
    margin-top: 5vh;
    flex-wrap: wrap;
    justify-content: center;
}
    
.alphabet,.keyboard-letters{
    justify-content: center;
    
}

.keyboard-letters{
    width: 100px;
    height: fit-content;
    margin: 5px;
    font-size: 3em;
    padding: 2%;    
}